@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image {
  background-image: url("../src/assets/bg/black-white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
